.ownSelectBox {
    height: 21px;
}

.ownSelectBoxActive {
    height: 21px;
    outline: 2px solid black;
    pointer-events: fill;
}

.ownSelectBoxWrapper {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.ownSelectBoxWrapperFull {
    display: flex;
    flex-direction: column;
}