.text {
    width: 120px;
    height: 18px;
}

.textWrapper {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.textActive {
    height: 18px;
    width: 120px;
    outline: 2px solid black;
    pointer-events: fill;
}